body{
    /* font-family: Arial, Helvetica, sans-serif;
    background-color:  white;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px; */
    /* display: flex; */
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}

html, body{
    /* width: 100%; rompe el codigo */
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

/* modificacion de texto */

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    line-height: 1,6;
    font-size: 1.2rem;
    color: white;
}

h1, h2, h3, h4 {
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1em;
    color: white;
    font-size: 3rem;
}

/* barra oculta */

.barraAn{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 220px;
    background-color: lightgray; 
    overflow: hidden;
    transition: width 0.3s ease;
}

.barraAn.closed{
    width: 60px;
}

.toggle{
    width: 60px;
    height: 60px;
    /* padding: 15px; */
    /* background-color: lightgray; */
    color: black;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

.menu2{
    list-style: none;
    padding: 20px;
    /* color: white;
    text-decoration: none; */
}

.barraAn.closed .menu2 a{
    white-space: nowrap;
    overflow: hidden;
    text-indent: -999px;
    opacity: 0;
}

/* mayor parte del codigo */

.logo{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 150px;
    height: auto;
    z-index: 100;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.logo :hover{
    transform: scale(2.0);
}

.espacio{
    min-height: 20vh;
}

.video1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--vh);
    z-index: -1;
    overflow: hidden;
}


.video1 video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(5px);
}
/* titulo */
.inicio{
    position: relative;
    width: 100%;
    height: var(--vh);
    display: flex;
    text-align: center;
    justify-content: center;
    pointer-events: none;
    z-index: 10;
    align-items: center;
}

.inicio img{
    max-width: 90%;
    height: auto;
    object-fit: contain;
}

/* selection 1 */

.porDefinir{
    width: 80%;
    /* max-width: 1200px; */
    padding: 40px; 
    padding-top: 1rem;
    border-radius: 14px;
    box-shadow: black;
    text-align: center;
    background-color: rgba(231, 2, 182, 0.644);
    margin: 0 auto 20px auto;
} 

.porDefinir h2{
    font-size: 3rm;
    font-weight: 700;
}

.porDefinir p{
    max-width: 1000px;
    margin: 0 auto;
}

/* clase de paneles */

.panelesS{
    width: 80%;
    min-height: 50svh;
    padding: 40px;  
    border-radius: 16px;
    text-align: center;
    background-color: rgba(231, 2, 182, 0.644);
    margin: 0 auto 20px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 24px; */
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
}

.paneles-grip{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.panel{
    display: flex;
    width: 150px;
    height: 150px;
    padding: 50px;
    background-image: url("recursos/imagen\ para\ los\ paneles.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    align-items: center;
    /* margin: auto;
    display: block; */
}

.panel:hover{
    transform: scale(1.1);
}

/* .panel h2{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    padding: 8px 14px;
    border-radius: 18px;
} */

/* selection 2 */

.porDefinir1{
    width: 80%;
    min-height: 400px;
    padding: 40px;  
    border-radius: 16px;
    box-shadow: black;
    text-align: center;
    background-color: rgba(231, 2, 182, 0.644);
    margin: 0 auto 20px auto;
}

.porDefinir1 p{
    max-width: 600px;
    margin: 0 auto;
}

.porDefinir1 .lado img{
    border-radius: 16px;
}

.lado{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}

/* redes en circulo */

.redes{
    position:fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    gap: 15px;
    z-index: 9999;
}

.redes a{
    width: 40px;
    height: 40px;
    display: flex;
    text-decoration: none;
    padding: 10px 15px;
    background-color: white;
    color: black;
    border-radius: 8px;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.3s;

}

.redes a:hover{
    background-color: transparent;
    transform: scale(1.15);
}

/* scroll animation */

.animacionBajada{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1.1s ease, transform 1.0s ease;
}

.animacionBajada.active{
    opacity: 1;
    transform: translateY(0);
}

/* footer */

.footerS{
    background-color: #111111b9;
    color: #ccc;
    text-align: center;
    padding: 10px 20px;
    /* font-size: 0.95rem; */
    width: 100%;
}

.footerS h3{
    color: #999;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.footerS p{
    font-size: 0.80rem;
    margin: 6px 0;
    color: #999;
}

@media(max-width: 400px){
    .video1{
        height: absolute;
    }

    .video1 video {
        filter: blur(3px);
        object-position: center;
    }

    .inicio img{
        align-items: center;
    }
}


/* telefono */
@media(max-width: 600px){

    .panelesS{
        width: 100%;
        margin: 0 auto 17px;
        padding-left: 5px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .paneles-grip{
        grid-template-columns: repeat(2, 0fr);
        justify-items: center;
        gap: 1px;
    }

    .logo{
        width: 100px;
        height: auto;
    }

    .panel{
        transform: scale(0.6);
        width: 130px;
        height: 130px;
        padding: 40px;
    }

    .panel:hover{
        transform: scale(0.6);
    }

    .porDefinir1{
        width: 100%;
        /* margin: 0 auto 16px; */
        padding: 16px;
        /* min-height: auto; */
        box-sizing: border-box;
    }

    .porDefinir1 p{
        order: 1;
        max-width: 100%;
        font-size: 0.95rem;
        line-height: 1.4;
    }

    .porDefinir1 img{
        order: 2;
        width: 100%;
        height: auto;
        border-radius: 14px;
    }

    .porDefinir1 .lado{
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .redes{
        flex-direction: column;
        gap: 10px;
        right: 12px;
        bottom: 12px;
    }

    .redes a{
        width: 36px;
        height: 36px;
        font-size: 16px;
        padding: 0%;
        opacity: 0.9;
        background-color: transparent;

    }

    .redes a:hover{
        transform: scale(1.1);
        opacity: 1;
        background-color: transparent;
    }
}
