body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:  white;
    margin: 0;
    padding: 0;
}

/* modificacion de texto */

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    line-height: 1,6;
    font-size: 1.2rem;
    color: white;
}

h1, h2, h3, h4 {
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1em;
    color: white;
    font-size: 2rem;
}

/* barra oculta */

.barraAn{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 220px;
    background-color: lightgray; 
    overflow: hidden;
    transition: width 0.3s ease;
}

.barraAn.closed{
    width: 60px;
}

.toggle{
    width: 60px;
    height: 60px;
    /* padding: 15px; */
    /* background-color: lightgray; */
    color: black;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

.menu2{
    list-style: none;
    padding: 20px;
    /* color: white;
    text-decoration: none; */
}

.barraAn.closed .menu2 a{
    white-space: nowrap;
    overflow: hidden;
    text-indent: -999px;
    opacity: 0;
}

/* mayor parte del codigo */

.logo{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 150px;
    height: auto;
    z-index: 100;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.logo :hover{
    transform: scale(2.0);
}

.espacio{
    min-height: 20vh;
}

.video1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.video1 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(5px);
}

/* titulo */
.inicio{
    min-width: 40vh;
}

.inicio img{
    position: relative;
    top: 100%;
    left: 25%;
    width: 1000px;
    height: auto;
    z-index: 100;
    
}

/* selection 1 */

.porDefinir{
    width: 80%;
    /* max-width: 1200px; */
    padding: 40px; 
    padding-top: 1rem;
    border-radius: 14px;
    box-shadow: black;
    text-align: center;
    background-color: rgba(231, 2, 182, 0.644);
    margin: 0 auto 20px auto;
} 

.porDefinir h2{
    font-size: 3rm;
    font-weight: 700;
}

.porDefinir p{
    max-width: 1000px;
    margin: 0 auto;
}

/* clase de paneles */

.panelesS{
    width: 80%;
    min-height: 500PX;
    padding: 40px;  
    border-radius: 16px;
    text-align: center;
    background-color: rgba(231, 2, 182, 0.644);
    margin: 0 auto 20px auto ;
}

.panel{
    width: 200px;
    height: 180px;
    background-image: url("recursos/imagen\ para\ los\ paneles.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    padding: 60px;
    float: left;
    margin: 30px;
}

.panel:hover{
    transform: scale(1.1);
}

.panel h2{
    font-size: 3rem;
    font-weight: 6r00;
}

/* selection 2 */

.porDefinir1{
    width: 80%;
    min-height: 400px;
    padding: 40px;  
    border-radius: 16px;
    box-shadow: black;
    text-align: center;
    background-color: rgba(231, 2, 182, 0.644);
    margin: 0 auto 20px auto;
}

.porDefinir1 p{
    max-width: 600px;
    margin: 0 auto;
}

.porDefinir1 .lado img{
    border-radius: 16px;
}

.lado{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.porDefinir1 h3{
    font-size: 2rem;
    font-weight: 600;
}

/* redes en circulo */

.redes{
    position:fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    gap: 15px;
    z-index: 9999;
}

.redes a{
    width: 45px;
    height: 45px;
    display: flex;
    text-decoration: none;
    padding: 10px 15px;
    background-color: white;
    color: black;
    border-radius: 8px;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.3s;

}

.redes a:hover{
    background-color: white;
    transform: scale(1.15);
}

/* scroll animation */

.animacionBajada{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1.1s ease, transform 1.0s ease;
}

.animacionBajada.active{
    opacity: 1;
    transform: translateY(0);
}

/* footer */

.footerS{
    background-color: #111111b9;
    color: #ccc;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.95rem;
}

.footerS h3{
    color: #999;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.footerS p{
    font-size: 0.80rem;
    margin: 6px 0;
    color: #999;
}


